:root {
  --textColor: rgb(92, 92, 92);
  --textColorDark: rgb(51,51,51);
  --deemphasizedColor: rgb(128,128,128);
  --backgroundColor: rgb(253,253,253);
  --accentColor: rgb(100, 200, 230);
}

@font-face {
  font-family: 'Atilla';
  src: url('fonts/atillanormal-webfont.woff2') format('woff2'),
  url('fonts/atillanormal-webfont.woff') format('woff');
}

body {
  width: 8.5in;
  height: 11in;
  padding: 0.8in 1in 1in 1in;
  font-family: "Helvetica Neue";
  font-size: 12pt;
  line-height: 1.5;
  color: var(--textColor);
  background: var(--backgroundColor);
}

@media screen {
  html {
    background: rgb(128,128,128);  
  }
  
  body {
    margin: 0.5in auto;
    box-shadow: 2px 5px 7px 0px;
  }

  a {
    color: rgb(55, 68, 192);
  }

  a:hover {
    text-decoration: none;
    color: rgb(104,114,207);
  }

  ::selection {
    background-color: #faed27;
  }
}

@media print {
  body {
    margin: 0;
    background: none;
  }

  a {
    color: var(--textColor);
    text-decoration: none;
  }
}

h1 {
  font-family: "Atilla";
  color: var(--textColorDark);
  font-weight: 300;
  font-size: 26pt;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: .04em;
  margin: 0;
  padding: 0;
  line-height: 1;
  float: left;
}

h1 em {
  font-style: italic;
  font-weight: 400;
  font-size: 16pt;
  margin: 0;
  display: block;

  /* Undo unwanted effects of parent h1. */
  text-transform: none;
  letter-spacing: 0;
}

h1+ul {
  font-family: "Atilla";
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
  float: right;
}

h1+ul li {
  margin: 0 10px;
  padding: 0;
}

h2:first-of-type {
  clear: both;
  margin-top: 100px;
}

h2 {
  font-family: "Atilla";
  color: var(--textColorDark);
  font-weight: 400;
  font-size: 20px;
  letter-spacing: .1em;
  margin: 40px 0 0 0;
  font-style: none;
  border-bottom: 1px solid var(--textColor);

  /* border-left: 1px solid var(--textColor);
     padding-left: 10px; */

  /* background: var(--accentColor);
     color: var(--backgroundColor); */

  text-transform: uppercase;
  font-style: none;
}

h2+h3 {
  margin-top: 10px;
}

h3 {
  color: var(--textColorDark);
  font-size: 12pt;
  margin: 20px 0 0 0;
  font-weight: 500;
  letter-spacing: .03em;
}

h3 em:last-of-type {
  font-size: 10pt;
  text-align: right;
  float: right;
  font-style: none;
  font-weight: normal;
  color: var(--deemphasizedColor);
}

p {
  text-indent: 0;
  margin: 0 0 10px 0;
}

h2+p {
  margin-top: 12px;
}

ul {
  list-style-type: square;
  padding: 0 40px;
  margin: 0;
}

ul li {
  padding-left: 0px;
  line-height: 1.2;
  margin: 4px 0;
}

h2+ul {
  margin-top: 12px;
}


